{% block list %}
  <!-- List has border -->
  {% set type_list = 'list-has-border list-grid' %}
  {% set list = [
    {
      'text': 'Test'
    },
    {
      'text': 'Test'
    },
    {
      'text': 'Test'
    },
    {
      'text': 'Test'
    },
    {
      'text': 'Test'
    },
    {
      'text': 'Test'
    },
  ] %}
  <ul class="list {{type_list}}">
    {% for item in list %}
      <li>{% if item.href_link is not empty %} <a href="{{item.href_link}}"> {% endif %}{{item.text}}{% if item.href_link is not empty %} </a> {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}

<!-- List number -->
{% block list_number %}
  {% set list_number = [
    {
      'text': 'Test'
    },
    {
      'text': 'Test'
    },
    {
      'text': 'Test'
    },
    {
      'text': 'Test'
    },
    {
      'text': 'Test'
    },
    {
      'text': 'Test'
    }
  ] %}
  <ol class="list-number">
    {% for item in list_number %}
      <li>{{item.text}}</li>
    {% endfor %}
  </ol>
{% endblock %}

<!-- List icon -->
{% block list_icon %}
  {% set list_icon = [
    {
      'class_icon': 'icon-checkmark',
      'text': 'Test'
    },
    {
      'class_icon': 'icon-checkmark',
      'text': 'Test'
    },
    {
      'class_icon': 'icon-checkmark',
      'text': 'Test'
    },
    {
      'class_icon': 'icon-checkmark',
      'text': 'Test'
    },
    {
      'class_icon': 'icon-checkmark',
      'text': 'Test'
    },
    {
      'class_icon': 'icon-checkmark',
      'text': 'Test'
    }
  ] %}
  <ul class="list-icon">
    {% for item in list_icon %}
      <li class="{{item.class_icon}}">{{item.text}}</li>
    {% endfor %}
  </ul>
{% endblock %}
